version: "3.8"

services:
       
  backend:
    build: ./
    image: yleymard/backend:latest
    container_name: backend
    restart: on-failure
    ports:
      - "8788:8788"
    environment:
      SPRING_PROFILES_ACTIVE: prod
    volumes:
      - .m2:/root/.m2
    stdin_open: true
    tty: true
    networks:
      - pipelineticket_springticketnetwork
    
  frontend:
    build: ./src/main/frontend
    image: yleymard/frontend:latest
    restart: on-failure
    ports:
      - "3001"
    depends_on:
      - backend
    networks:
      - pipelineticket_springticketnetwork

  prometheus:
    image: prom/prometheus:latest
    restart: on-failure
    volumes:
      - ./prometheus:/etc/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
    ports:
      - "9090:9090"
    networks:
      - pipelineticket_springticketnetwork

  loki:
    image: grafana/loki:latest
    restart: on-failure
    volumes:
      - ./loki:/mnt/config
    command:
      - '-config.file=/mnt/config/loki-local-config.yaml'
    ports:
      - "3100:3100"
    networks:
      - pipelineticket_springticketnetwork

  promtail:
    image: grafana/promtail:latest
    restart: on-failure
    volumes:
      - ./promtail:/etc/promtail
      - /var/lib/docker/containers:/var/lib/docker/containers:ro # Mount Docker logs
    command:
      - '-config.file=/etc/promtail/promtail-config.yaml'
    networks:
      - pipelineticket_springticketnetwork

  init_grafana:
    image: grafana/grafana:latest
    user: root
    entrypoint:
      - /bin/sh
      - -c
      - |
        chown -R 65534:65534 /var/lib/grafana
    volumes:
      - ./data_grafana:/var/lib/grafana
  
  grafana:
    container_name: grafana
    image: grafana/grafana:latest
    restart: unless-stopped
    ports:
      - "3000:3000"
    user: "65534"
    volumes:
      - ./data_grafana:/var/lib/grafana
    depends_on:
      - prometheus
      - loki
    networks:
      - pipelineticket_springticketnetwork

networks:
 pipelineticket_springticketnetwork:
   driver: bridge
