version: "3.8"

services:

  mysql:
    image: mysql:8.0
    container_name: dbserver
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: infoDB
      MYSQL_ROOT_HOST: "%"
      MYSQL_ALLOW_EMPTY_PASSWORD: "yes"
    ports:
      - "3308:3306" 
    volumes:
      - dbappInfo:/var/lib/mysql
    networks:
      - pipelineticket_springticketnetwork
       
  backend:
    build: ./
    image: yleymard/backend:latest
    container_name: backend
    restart: on-failure
    ports:
      - "8788:8788"
    environment:
      SPRING_PROFILES_ACTIVE: prod
      # Use the service name 'redis' as the hostname for the backend to connect
      SPRING_REDIS_HOST: redis 
      SPRING_REDIS_PORT: 6379
    volumes:
      - .m2:/root/.m2
    stdin_open: true
    tty: true
    depends_on:
      - redis
    networks:
      - pipelineticket_springticketnetwork
    
  redis:
    image: redis:7.2.4-alpine
    container_name: redis_server
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data # Persist Redis data
    networks:
      - pipelineticket_springticketnetwork

  frontend:
    build: ./src/main/frontend
    image: yleymard/frontend:latest
    restart: on-failure
    ports:
      - "4000"
    depends_on:
      - backend
    networks:
      - pipelineticket_springticketnetwork

  prometheus:
    image: prom/prometheus:latest
    restart: on-failure
    volumes:
      - data_prometheus:/etc/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
    ports:
      - "9090:9090"
    networks:
      - pipelineticket_springticketnetwork

  loki:
    image: grafana/loki:latest
    restart: on-failure
    volumes:
      - data_loki:/mnt/config
    command:
      - '-config.file=/mnt/config/loki-local-config.yaml'
    ports:
      - "3100:3100"
    networks:
      - pipelineticket_springticketnetwork

  promtail:
    image: grafana/promtail:latest
    restart: on-failure
    volumes:
      - data_promtail:/etc/promtail
      - /var/lib/docker/containers:/var/lib/docker/containers:ro # Mount Docker logs
    command:
      - '-config.file=/etc/promtail/promtail-config.yaml'
    networks:
      - pipelineticket_springticketnetwork

  init_grafana:
    image: grafana/grafana:latest
    user: root
    entrypoint:
      - /bin/sh
      - -c
      - |
        chown -R 65534:65534 /var/lib/grafana
    volumes:
      - ./data_grafana:/var/lib/grafana
  
  grafana:
    container_name: grafana
    image: grafana/grafana:latest
    restart: unless-stopped
    ports:
      - "3000:3000"
    user: "65534"
    volumes:
      - data_grafana:/var/lib/grafana
    depends_on:
      - prometheus
      - loki
    networks:
      - pipelineticket_springticketnetwork

volumes:
  data_grafana:
  data_loki:
  data_prometheus:
  data_promtail:
  dbappInfo:
  redis_data:

networks:
  pipelineticket_springticketnetwork:
