    server:
      http_listen_port: 9080
      grpc_listen_port: 0
    positions:
      filename: /tmp/positions.yaml
    clients:
      - url: http://loki:3100/loki/api/v1/push
    scrape_configs:
      - job_name: system
        pipeline_stages:
          - json:
              expressions:
                level: level
                message: log
          - labels:
              level:
        static_configs:
          - targets:
              - localhost
            labels:
              job: spring-boot-logs
              __path__: /var/lib/docker/containers/*/*log # Adjust path to your container logs
